<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731897830097-rjmjjpn3qdgjla9p2905gi9k7dlcjaar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731897830097-rjmjjpn3qdgjla9p2905gi9k7dlcjaar</string>
	<key>API_KEY</key>
	<string>AIzaSyAJrAUmj-qPCKr6IaENu4Hwd-HfIi-dCcI</string>
	<key>GCM_SENDER_ID</key>
	<string>731897830097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unichat</string>
	<key>PROJECT_ID</key>
	<string>unichat-zego</string>
	<key>STORAGE_BUCKET</key>
	<string>unichat-zego.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731897830097:ios:36ac4adf14c6e93a0403f0</string>
</dict>
</plist>